<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
  <p>
  I'm a developer at <a href="https://icn.sap.com/home.html">SAP ICP</a> and contributor to the Open Source project <a href="http://terasology.org">Terasology</a>.
  </p><p>
    On this blog you can find my thoughts on development, functional programming, tooling, open source, and related topics.
  </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
