.post-tag {
  display: inline-block;
  background: rgba(111, 78, 55, 0.15);
  padding: 0 .5rem;
  margin-right: .5rem;
  border-radius: 4px;
  color: #6f4e37;
  font-size: 90%;
}

.post-tag::before {
    content: '\f02b';
    font-family: FontAwesome;
    padding-right: .5em;
}

.post-tag:hover {
    text-decoration: none;
    background: #6f4e37;
    color: #fff;
}

.github-link::after {
    content: '\f09b';
    font-family: FontAwesome;
    padding-left: .2em;
}
